<!DOCTYPE html>
<html>
	<head>
		<title>AWS Project Page</title>
	</head>
	<body style="background-color:Gray;">
	<table width="100%" style="font-size:36">
		<table style="font-size:24px" width="50%" align="center">
		<tr>
			<th align="Center">Welcome To Management System</th>
		</tr>
	</table>
	<hr><hr>
	
	<Br><BR><BR><Br>
		
		<table style="font-size:24px" width="50%" align="center">
			<tr>
				<td>Username</td>
				<td><input type="text" size="50"></input></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" size="50"></input></td>
			</tr>
			<tr>
				<td colspan=2 align="center"><input type="submit" value="Enter" name="submit"></input></td>
			</tr>
		</table>
		</form>
	</body>
</html>
